<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>It's a <%= kindofday %>!</h1>
    </div>
    <div class="box">
            <% for(var i =0 ; i<new_list_item.length; i++){ %>
                <div class="item">
                <input id="check<%= i %>" type="checkbox"> 
                <p for="check<%= i %>"><%= new_list_item[i] %></p>
                </div>
            <% } %>
            <form class="item" action="/" method="post">
                <input autocomplete="off" type="text" name="txtNum" placeholder="New Item">
                <button type="submit">+</button>
            </form>
    </div>   
 
</body>
</html>